.input input {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #808080;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
}

.input input::placeholder {
    font-size: 20px !important;
}

.label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
}

.error {
    color: red;
}

.error-border {
    border-color: red;
}