.select-input {
    font-size: 20px;
    width: 100%;
}

.select-input #react-select-3-placeholder {
    font-size: 40px !important;
    color: red !important;
}

.select-input p {
    margin: 0 !important;
    color: red !important;
}

/* .backgroundRed {
    background-color: red;
}

.backgroundBlur {
    background-color: blue;
} */