* {
    box-sizing: border-box !important;
}

.white-resume {
    padding: 40px;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__img {
    width: 180px;
}

.header__img img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
}

.header__line {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.header__name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header__job {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 22px;
}

.header__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__list li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
}

.body {
    padding-top: 40px;
    display: flex;
    gap: 30px;
}

.body__left {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 1px solid black;
}

.default-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.skills__list,
.languages__list,
.hobbies__list,
.contacts__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.languages__list {
    gap: 4px;
}

.languages__list li {
    line-height: 1.2;
}

.hobbies__list {
    padding-left: 20px;
}

.default-text {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
}

.hobbies__list li {
    list-style: disc;
}

.contacts__list li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contacts__list li img {
    width: 14px;
    height: auto;
}

.body__right {
    flex: 1;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about p {
    margin-bottom: 0;
}

.body__right .default-text {
    font-size: 10px;
}

.education__content {
    display: flex;
    gap: 40px;
    margin-bottom: 5px;
}

.education__period {
    font-size: 12px;
    line-height: 1.1;
}

.education__period span {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 4px;
}

.education__name {
    display: flex;
    flex-direction: column;
}

.education__name span {
    font-size: 12px;
    font-weight: bold;
}

.education__name p {
    margin: 0;
}